<div class="center hero-unit">
  <h1>Bem Vindo ao Aplicativo de Gestao de Agenda</h1>

  <h2>
    Aplicativo para auxiliar no controle dos servicos prestados por sua empresa.
  </h2>

  <%= link_to "Cadastre-se Agora", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>