<tr>
		  
  		<td><%= link_to funcionario.nome, funcionario %></td>
  		<td><%= link_to funcionario.user.user_name, funcionario %></td>
  		<td><% if funcionario.user.admin %>
  			<%else%>
  				<%= link_to "delete", funcionario, method: :delete,
                                  data: { confirm: "You sure?" } %>
        	<%end%>
        </td>
</tr>