<% provide(:title, 'Lista de Funcionarios') %>
<h1>Lista de funcionarios</h1>


<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Usuario</th>
			<th>Deletar</th>
		</tr>
	</thead>
	<tbody>
		<%= will_paginate %>


  			<%= render @funcionarios %>


		<%= will_paginate %>
	</tbody>
</table>

<button type="button" "Incluir Funcionario", class: "btn btn-default"%><%= link_to 'Novo Funcionario', new_funcionario_path %> </button>
